.contact{
    background-color: var(--dark);
    color: var(--secondary);
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    width: 100%;    
}

.heading{
    text-align: center;
    text-decoration: underline;  
}

.contact_us h2{
    color: var(--dark);
}

.address_info{
    padding: 2rem;
    align-items: center;
}

.info{
    background-color: #22d1f4;
    position: relative;
    z-index: 1;
    text-align: center;
    width: 50%;
    height: 40vh;
    margin-top: 2.5rem;
}

.contact_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email_box textarea{
    width: 50%;
    border: 2px solid var(--dark);
    background-color: transparent;
    text-align: center;
    }

.email_box input{
    width: 50%;
    background-color: transparent;
    border: 2px solid var(--dark);
    padding: 1rem;
    text-align: center;    
}

.email_box textarea::placeholder{
    color: #065869;
}

.email_box input::placeholder{
    color: #065869;
}

.email_box > button{
    background: none;
    color: var(--dark);
    border: 2px solid var(--dark);
    border-radius: 100px;
    margin-top: 0.4rem;
    padding: 0.75em 2em;
    cursor: pointer;
}

.email_box > button:hover{
    background-color: var(--dark);
    color: var(--secondary);
    border: none;
}

@media screen and (max-width: 768px) {
  .f{
      flex-direction: row;
    }

  .email_box > button{
    padding: 0.25em 2em;  
    }   
}